@font-face {
    font-family: 'General Sans';
    src: url('./GeneralSans-Medium.otf'),
         url('./GeneralSans-Regular.otf');
    font-weight: normal;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #000000;
}

#main{
    width: 100%;
}

#hero{
    width: 100%;
    height: 100vh;
    background-color:#000000;
}

#nav{
    background-color: #000000;
    top: 0%;
    width: 100%;
    z-index: 10;
    padding: 30px 40px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.block-text{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
    color: #fff;
    text-align: right;
}

.block-text h5{
    font-size: 1vw;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 55px;
}

#heading{
    padding: 0 30px;
    margin-top: 100px;
}

#heading h1{
    color: #fff;
    line-height: 0.9;
    opacity: .6;
    text-transform: uppercase;
    font-size: 9vw;
    font-weight: 700;
}

#heading #secondh1{
    margin-left: 8.6vw;
}

.bounding{
    width: fit-content;
    overflow: hidden;
    /* background-color: aquamarine; */
}

.bounding .bounding-elem{
    transform: translateY(100%);
}

#mini-heading{
    color: #fff;
    margin-top: 100px;
    padding-right: 30px;
}

#mini-heading h5{
    text-align: right;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 2.3;
    letter-spacing: 1px;
}

#hero-footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 0 30px;
}

#hero-footer a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

#icon-set{
    display: flex;
    gap: 5px;
}

#icon-set .circle-icon{
    color: #000000;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #a2a4a3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}


#second {
    color: #fff;
    padding-right: 10vw;
    padding-top: 100px;
    background-color: black;
    width: 100%;
    /* ** */
    height: fit-content;

}

.elem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3vw 3vw;
    padding-right: 0;
    border-top: 1px solid #888;
}

.elem a{
    text-decoration: none;
}

.elem h1 {
    text-transform: uppercase;
    font-size: 7.2vw;
    opacity: .7;
    color: #fff;
}

.elemlast {
    border-bottom: 1px solid #888;
}

.elem img{
    position: absolute;
    z-index: 10;
    height: 140%;
    opacity: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#about{
    width: 100%;
    padding: 15vw 0;
    color: #fff;
    display: flex;
    align-items:center;
    justify-content:flex-end;
}

#text-about{
    width: 45vw;
    padding: 0 110px;
}

#text-about p{
    font-size: 19px;
    line-height: 1.4;
    margin-bottom: 30px;
}

#text-about h5{
    margin-bottom: 10px;
    color:#a2a4a3;
}

#text-about a{
    color: white;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 6px 14px;
    border-radius: 30px;
}

#about img{
    width: 280px;
}


#subscribe{
    color: white;
    margin-left: 35px;
    padding-bottom: 7vw;
}

#subscribe h5{
    color: #a2a4a3;
}

#subscribe a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

#subscribe i{
    font-size: 18px;
}

#footer{
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

#footer-left{
    display: flex;
    gap: 20px;
    font-size: 20px;
    font-weight: 100;
}

#footer-right{
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-right a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}


/* responsive code from here */


@media (max-width : 1100px) {
    #about{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #about #text-about{
        width: 100%;
        padding: 0 60px;
        text-align: center;
    }
    #text-about h5{
        margin-top: 30px;
    }
    #footer-right{
        position: relative;
        right: 2vw;
        gap: 20px;
    }
    #second{
        padding-top: 100px;
        width: 80%;
        margin: 0 auto;
        padding-right: 0;
    }

    #mini-circle{
        display: none;
    }
}


@media (max-width: 625px){
    #icon-set{
        display: none;
    }
    #footer{
        flex-direction: column-reverse;

    }
    #subscribe{
        text-align: center;
        margin-left: 0;
    }
    #footer-left{
        margin-top: 50px;
    }
    #hero-footer{
        flex-direction: column;
        gap: 25px;
        margin-top: 25px;
    }
    #mini-heading{
        color: #fff;
        margin-top: 100px;
        padding-right: 20px;
    }
    
    #mini-heading h5{
        text-align:right;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 2.3;
        letter-spacing: 1px;
    }
}

@media (max-width:420px){
    #heading{
        display: flex;
        flex-direction: column;
    }

    #heading h1{
        font-size: 15vw;
    }

    #heading #secondh1{
        margin-left: 0;
    }

    .block-text h5{
        font-size: 3vw;
    }

}

@media (min-height:940px) {
    #hero{
        height:fit-content;
    }
}

@media (max-height:365px) {
    #heading h1{
        font-size: 30px;
    }
    #heading{
        margin-top: 20px;
    }
    #mini-heading {
        margin-top: 20vh;
        font-size: 10px;
    }
}